// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #1F2023;


$main: #6B29F6;
$mainlight: #B8A1FA;

$light: #FFFFFF;
$coral: #C97F6A;
$jet: #303633;
$lightblue: #D2E0ED;
$pink: #EE4266;
$aero: #D4F6EC;

.white{
  color: white;
}
