.info {
  border-radius: 30px 30px 0 0;
  position: sticky;
  background-color: white;
  bottom: 0px;
  padding: 13px 30px;
  width: 100%;
}

.profile-tag > p {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.side-info {
  margin: 10px;
}

.clothes-seller{
margin-top: 20px;
  img{
    width: 30%;
    margin: 4px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  h2 {
    font-family: Montserrat;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
}

.seller-article{
  height: 150px;
  width: 100%;
  background: no-repeat;
  background-size: cover;
}

.bold {
  font-weight: bold;
}
