strong {
  position: relative;


  &::after {
    content: '';
    position: absolute;
    bottom: 0.16rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 1.2rem;
    z-index: -1;

    // Position the line behind the text so that
    // it is still easily readable

    // The SVG is added as an SVG background image
    background-image: asset-url("rec.svg");
    background-repeat: no-repeat;

       background-size: cover;
  }
}


strong {
  position: relative;


  &::after {
    content: '';
    position: absolute;
    bottom: 0.16rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 1.2rem;

    // Position the line behind the text so that
    // it is still easily readable

    // The SVG is added as an SVG background image
    background-image: asset-url("rec.svg");
    background-repeat: no-repeat;

       background-size: cover;
  }
}

.underline5 h1 {
  z-index: 1;
}

.home-styling h2 {
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
}

.content-text p {
  z-index: 0;
}

.home-styling p {
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
letter-spacing: 0.05em;
}

.home-styling p.hp {
  font-weight:light;
  line-height: 18px;
}

.button-section h2 {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.1em;
  color: #1F2023;
}

.content-container-text a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 108px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

.cta a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 108px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

.cta a:hover {
  text-decoration: none;
}

.cta i {
  color: white;
  font-size: 22px;
  margin-left: 12px;
  margin-top: 2px;
}

.button-section p {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  color: rgba(105, 97, 97, 0.76);
}

.cta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: -20px;
}

.main-text {
  margin-top: 50px;
}

.main-text h1 {
  font-size: 40px;
}

.main-text p {
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}

.content-container-text h1 {
  font-size: 32px;
  line-height: 50px;
}

.home-styling h6 {
  align-self: auto | flex-start | flex-end | center | baseline | stretch;
  color: white;
  font-family: Montserrat;
  margin-top: -32px;
  font-size: 18px;
}

.content-container-photo2 {
  height: 45vh;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-size: cover;
  margin-bottom: 0px;
  margin: 0;
  padding: 24px;
  background: linear-gradient(180deg, rgba(91, 41, 246, 0.39) 0%, rgba(90, 100, 225, 0.31) 100%), asset-url('outfit2.jpg');
  background-size: cover;
  background-repeat: none;
}

.content-container-photo2 a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 108px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

.content-container-text {
  height: 46vh;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin-bottom: 0px;
  margin: 0;
  padding: 24px;
  background-color: #6B29F6;
  margin-top: -40px;
}

.add-photo {
  background-image: linear-gradient(180deg, rgba(175, 147, 255, 0.42) 0%, rgba(158, 136, 228, 0.22) 100%), asset-url("outfit3.jpg");
  background-size: cover;
  background-repeat: none;
}

.down-spacing {
  padding-top: 60px;
}

.content-container-text-2 {
  height: 60vh;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-size: cover;
  margin-bottom: 0px;
  margin: 0;
  padding: 24px;
  background-color: #9775FF;
}

.content-text h1 {
  color: white;
  font-weight: bold;
  font-family: Montserrat;
  margin-bottom: 0px;
}

.change-spacing h1, strong {
  padding: 0;
  padding-bottom: 4px;
  margin: 0;
  z-index: 0;
  color: white;
}

.change-spacing {

}

.content-button {
  position: center;
  background-color: #210461;
  color: white;
  font-weight: lighter;
  border-radius: 5px;
  padding: 16px 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 2px;
}

.content-button:hover {
  color: white;
  transition: all 0.2s ease-in;
  transition-property: box-shadow;
  text-decoration: none;
}

.content-button a {
  text-align: center;
}

.content-button a:hover {
  text-decoration: none;
}


.content-container-photo {
  height: 60vh;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-size: cover;
  background-image: asset-url('outfit3.jpg');
  margin: 0;
  padding: 24px;
}


.content-container-photo-2 {
  height: 60vh;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-size: cover;
  background-image: url('https://res.cloudinary.com/df2entit8/image/upload/v1583762008/896b8cff-0f58-41a7-9125-5a6f7e1de3a5_ulldln.jpg');
  margin: 0;
  padding: 24px;
}


.content-text-photo h1 {
  color: white;
  font-weight: bold;
  font-family: Montserrat;
}

.content-text-photo {
  margin-top: 65px;
}
.content-button-photo {
  background-color: #210461;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 16px 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 2px;
}




.content-button-photo:hover {
  color: white;
  transition: all 0.2s ease-in;
  transition-property: box-shadow;
  text-decoration: none;
}

.content-button-photo a {
  text-align: center;
}

.content-button-photo a:hover {
  text-decoration: none;
}

.content-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  background: #6B29F6;
  height: 400px;
}

.content-wrapper h1 {
  font-weight: bold;
  font-size: 33px;
  line-height: 45px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.content-wrapper h3{
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.07em;
  margin-top: 27px;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 28px;
}

.sell-button-2 {
  text-align: left;

}

.spacing-change {
  margin-top: 0;
}

.spacing-change h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.tag-image p {
  color: #141414;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.07em;
  transition: background-color 0.5s ease;
}



.tag-image-new p {
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.07em;
  text-align: left;
  margin-left: 20px;
  margin-top: 60px;
}

.text-container {
  margin-left: 40px;
  margin-top: 60px;
  margin-right: 40px;
}

.content-wrapper a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 108px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}


.shop-container-text h3 {
  color: black;
  font-weight: bold;
  font-family: Montserrat;
  margin-bottom: 18px;
  padding: 12px;
}




