<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval= "false" data-touch= "true">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag @article.photos.first.key, style:"width: 100%;" %>
    </div>
  </div>
</div>
