<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="nav-toggle">
  </div>
</div>
<nav class="nav nav-hidden">
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Shop</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Sell</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">FAQ</a></li>
  </ul>
</nav>

