<div class="page-about-container">

  <div class="body-container">
  <h1><strong>what is fancier?</strong></h1>

<div id="header-section">



<div class="body-text">
<h2>hi welcome to fancier!</h2>
<p>Fancier is a global community of creative people who like to shine and express themselves. We are the first online marketplace specialized in vintage festival outfits, custom-made disguises, and original cosplay styles.</p>
<p>From Burning Man to Coachella, Tomorrow Land or your very own Halloween Party - we've got you covered. We believe that looking fancy doesn't have to involve big budgets or shopping fast fashion.</p>
<p>The fashion industry is one of the biggest threads to the global climate. Reducing, reducing and recycling by buying vintage is a solid way to make a positive impact.</p>
</div>
</div>
</div>

<div class="image-background">
  <h3>We’re a global community of movers, shakers and self-expressers who change the rules of fashion.</h3>
  <% link_to "join the crew", new_user_session_path, class: "" %>
</div>

<!-- <div class="body-container">

<div class="quote-section">
  <h4>Sharing is caring. At Fancier, we help you find the best outfits as well as selling it when the party is over.</h4>
  <h5>-Fancier Team</h5>
</div>

</div> -->


</div>
