<div class="home-styling">


<div class="content-container-text">
  <div class="content-text change-spacing">
    <h1> <strong>what is</strong> </h1>
    <h1> <strong>fancier?</strong> </h1>
</div>
</div>


<div class="content-container-text add-photo">
  <div class="content-text-photo spacing-change change-spacing">
    <h1> <strong>why</strong> </h1>
    <h1> <strong>fancier?</strong> </h1>
    </div>
</div>


<div class="content-container-text">
  <div class="content-text down-spacing">
    <h1> <strong>join the crew</strong></h1>
    <!-- <p>#1 destination to find your unique festival outfit</p> -->
    <div class="cta">
        <%= link_to "about", about_path, class: '' %>
        <i class="fas fa-chevron-right"></i>
    </div>
  </div>
</div>


  <div class="content-container-photo2">
    <div class="content-text-photo">
      <h1> <strong>how does</strong> </h1>
      <h1> <strong>it work?</strong> </h1>
      <p>#1 destination to find your unique festival outfit</p>
      <div class="sell-button">
      <%= link_to "browse", articles_path, class: "content-button"%>
      </div>
    </div>
  </div>

  </div>
</div>

<p>Fancier is a global community of creative people who like to shine and express themselves.</p>
      <p>We are the first online marketplace specialized in original festival outfits, custom-made disguises, and cosplay styles.</p>
      <p>We believe that looking fancy doesn't have to involve big budgets or shopping fast fashion.</p>
      <p>Sharing is caring, therefore we help you find the best outfits as well as selling it when the party is over.</p>
      <p>Curated costumes, hand-made accessories, flashy frills and lots of sparkles - you name it, we got it.</p>
      <p>Share the glitter, not the litter.</p>
