<div class="content-container-text">
  <div class="content-text change-spacing">
    <h1> <strong>WHAT IS FANCIER?</strong> </h1>
    <p>Fancier is a global community of creative people who like to shine.</p>
    <p>Slipping into a different persona is fun and by no means only for kids.</p>
    <p>Festivals like Burning Man, Tomorrow Land or Coachella allow us to enter a dreamland of glam and possibilities.</p>

    <div class="cta">
      <%= link_to "shop", articles_path %>
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
</div>
