<div class="nav-toggle">
  <div class="nav-toggle-bar"></div>
</div>
<nav class="nav">
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Shop</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Sell</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">FAQ</a></li>
  </ul>
</nav>



<h1>Who we are</h1>
<p>Home to the most unique festival outfits from all over the world</p>
