<div class="page-container">
  <div class="banner-index tag-show-banner">
    <div class="header-index">
      <h1>Shop</h1>
      <h1><%= @tag.name  %></h1>
    </div>

  </div>



<div class="collection-background">
</div>

  <div class="margin-top-category">

  <div class="page-container">
    <% @categories.each do |category| %>
      <% next if category.articles_by_tag(@tag.name).empty? %>
      <div class="margin-category">
        <h5><%= category.name.pluralize %></h5>
      </div>
      <div class="article-cards-container">

      <% category.articles_by_tag(@tag.name).each do |article| %>
      <%= render article %>
      <% end %>
    </div>

      <% end %>
    </div>
</div>
