.coral-button {
  background-color: $main;
  color: white;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
}

.coral-button:hover {
  text-decoration: none;
}

.coral-button:active {
  text-decoration: none;
}
.submit-button {
  background-color: white;
  color: #A388F3;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
}

.submit-button:hover {
  text-decoration: none;
}

.submit-button:active {
  text-decoration: none;
}


.received {
  color: white;
  background-color: #210461;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 13px;
}

.received:hover {
  text-decoration: none;
}

.received:active {
  text-decoration: none;
}

.margin-button a:hover {
  text-decoration: none;
}

.margin-button {
  margin-top: 15px;
}

.review-button {
  color: #4504FF;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
}

.review-button:hover {
  text-decoration: none;
  opacity: .9;
}

.review-button:active {
  text-decoration: none;
}

.mainbutton {
  position: center;
  background-color: $main;
  color: white;
  font-weight: lighter;
  border-radius: 5px;
  padding: 16px 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 2px;
}

.mainbutton:hover {
  color: white;
  transition: all 0.2s ease-in;
  transition-property: box-shadow;
  text-decoration: none;
}

.mainbutton a {
  text-align: center;
}

.mainbutton a:hover {
  text-decoration: none;
}
