.filter-button {
  background-color: gray;
  opacity: 0.9;
  position: sticky;
  bottom: 4px;
  z-index: 1000;
  border-radius: 8px;
  margin: 0 auto;
  padding: 5px 20px;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 14px;
  vertical-align: center;
  box-shadow: none;
}
