.login-body {
  display: flex;
  justify-content: center;
  background-image: url('https://res.cloudinary.com/df2entit8/image/upload/v1583762008/896b8cff-0f58-41a7-9125-5a6f7e1de3a5_ulldln.jpg');
  height: 100vh;
  width: 100%;
}

.form-header h2 {
  font-family: Montserrat;
  font-size: 26px;
  text-align: left;
}
.form-container {
    margin-top: 30px;
    width: 70%;
    height: 75vh;
    font-family: Montserrat;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
      h2 {
        text-align: center;
      }
      a {

        color: $coral;
        font-weight: bold;
      }
  }
.login-form-inputs {
  font-family: Montserrat;
  color: #171717;
  font-weight: bold;
}
.action-link {
  color: #171717;
  font-weight: bold;
}
.string {
   color: #171717;
   font-size: 16px;
   font-weight: normal;
   margin-top: 10px;
   margin-bottom: 0;
   padding: 0;
}
.text {
  text-align: left;
  padding-left: 4px;
}

.form-inputs{
    font-family: Montserrat;
  label{
    text-align: left;
    display: flex;
    justify-content: left;
    color: #171717;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
  }
}

.list-submit{
  width: 100%;
  color:white;
  background-color: #C97F6A;

}

.form-header  h2{
  margin-top: 17px;
  text-align: center;
  margin-bottom: 17px
}

