.logo {
  text-align: center;
  font-weight:bold;
  margin: 0;
  font-family: montserrat;
  :visited {
    color: black;
    text-decoration: none;
  }
  :hover {
    color: black;
    text-decoration: none;
  }
}

