<div class="review-page">
  <div class="container review-container">
    <div class="text-container-review">
  <h4>Write a review</h4>
    <div class="row custom-row">


      <div class="col-xs-4">
        <%= simple_form_for [@order, @review] do |f| %>
          <%= f.input :content, label: "Review" %>
          <%= f.input :rating, collection: (1..5).to_a, placeholder: 5, label: "Rating of 1-5" %>
          <%= f.submit "Submit review", class: "submit-button" %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
